@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

.heroicon-opacity {
	fill-opacity: 0.6;
	fill: black;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: "Poppins", sans-serif;
	--grid-template-columns-70\/30: 70% 28%;
}

@layer components {
	.form-label {
		@apply mb-2 block text-sm font-medium text-gray-700;
	}
	.rates-label {
		@apply text-sm font-medium text-gray-700 mr-2;
	}
	.btn {
		@apply px-3 py-2 items-center rounded-md text-sm font-medium transition-colors hover:cursor-pointer;
	}
	.btn-primary {
		@apply text-white bg-blue-500 hover:bg-blue-700 active:bg-blue-600;
	}
	.btn-secondary {
		@apply text-gray-600 hover:text-white active:text-white bg-gray-200 hover:bg-gray-400 active:bg-gray-300;
	}
	.btn-danger {
		@apply text-white bg-red-500 hover:bg-red-700 active:bg-red-600;
	}
	.btn-pending-icon {
		@apply text-lg mr-2;
	}
	.mobile-menu {
		@apply cursor-pointer size-6 transition-all duration-[250ms] relative;
	}
	.mobile-menu-top,
	.mobile-menu-middle,
	.mobile-menu-bottom {
		@apply absolute w-5 h-0.5 top-0 left-0 bg-gray-500 rotate-0 transition-all duration-300;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Spinning animation for icon within buttons */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.icon-spin {
	animation: spin 2s linear infinite; /* Adjust duration and timing function as needed */
}

.mobile-menu-middle {
	transform: translateY(7px);
}

.mobile-menu-bottom {
	transform: translateY(14px);
}

.mobile-menu-open {
	transform: rotate(90deg);
	transform: translateY(0px);
}

.mobile-menu-open .mobile-menu-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.mobile-menu-open .mobile-menu-middle {
	display: none;
}

.mobile-menu-open .mobile-menu-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
